<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.clanofthecloud.cotcpushnotifications">

	<!-- [START GCM] -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- [END GCM] -->

	<application android:allowBackup="true"
	             android:label="@string/app_name"
		>
		<!-- [START GCM] -->
		<receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.clanofthecloud.sampleunityproject" />
			</intent-filter>
		</receiver>
		<service android:name="com.clanofthecloud.cotcpushnotifications.MyGcmListenerService" android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</service>
		<service android:name="com.clanofthecloud.cotcpushnotifications.MyInstanceIDListenerService" android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID" />
			</intent-filter>
		</service>
		<service android:name="com.clanofthecloud.cotcpushnotifications.RegistrationIntentService" android:exported="false">
		</service>
		<!-- [END GCM] -->
	</application>

</manifest>
