<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clanofthecloud.cotcinapppurchase" >

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name=".PurchaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_purchase"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
